h1{
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
i{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: gold;
    text-align: justify;
}
b{
 text-align: center;
}
h1{
    text-align: center;
}
body{
    background-color: brown;
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}
.image-row{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
}
.image-row img{
    width: 30%;
    height: auto;
}


    

